*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 1.5rem;
}

.todo-wrapper {
    width: 50vw;
    height: 75vh;
    box-shadow: 0px 5px 24px 4px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.todo-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    ul {
        padding: 0;
        list-style: none;
        width: 100%;

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .delete-complete-wrapper {
            display: flex;
            align-items: center;
        }

        .item-complete {
            margin: 0 20px;
            font-size: 1.875rem;
            cursor: pointer;
            color: black !important;
            transition: transform .3s ease;

            &:hover {
                transform: scale(1.3);
            }
        }

        .item-delete {
            font-size: 3.125rem;
            cursor: pointer;
            color: black !important;
            transition: transform .3s ease;
            user-select: none;

            &:hover {
                transform: scale(1.3);
            }
        }
    }
}

.todo-input {
    width: 100%;
    display: flex;
    justify-content: space-between;

    input {
        flex-grow: 3;
        font-size: inherit;
    }

    .todo-add-wrapper {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
    }
}

.btn {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: .3rem;
    transition: background-color .3s ease, border-color .3s ease, color .3s ease;

    &:hover {
        color: white;
        background-color: black;
        border-color: black;   
    }
}